
<div class="block">

  <div class="card" style="width: 18rem; margin: 20px; box-shadow: 4px 4px 10px;">
    <img src="../favicon.ico" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vitor Restini</h5>
      <p class="card-text">Futuro Desenvolvedor Back-End.</p>
      <a href="https://github.com/VRestini" class="btn btn-primary">GitHub</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 20px; box-shadow: 6px 6px 10px;">
    <img src="../favicon.ico" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rafael Araújo</h5>
      <p class="card-text">Futuro Engenheiro.</p>
      <a href="#" class="btn btn-primary">GitHub</a>
    </div>
  </div>


</div>


